<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:p="http://cxf.apache.org/policy" xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
   	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
   	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd 
   	http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd
   	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
   	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
   	http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd 
   	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd 
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 扫描注解，@Controller除外，该注解在spring-servlet.xml中扫描 -->
	<context:component-scan base-package="com.wj.farm">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 数据源对象: C3P0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	   <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	   <property name="jdbcUrl" value="jdbc:mysql://10.37.93.161:3306/aimpdev1?useUnicode=true&amp;characterEncoding=UTF-8&amp;generateSimpleParameterMetadata=true"></property>
	   <property name="user" value="devadmin"></property>
	   <property name="password" value="dxzKnPaPOy"></property>
	   <property name="initialPoolSize" value="3"></property>
	   <property name="maxPoolSize" value="10"></property>
	   <property name="maxStatements" value="100"></property>
	   <property name="acquireIncrement" value="2"></property>
	</bean>
	
	<!-- JdbcTemplate对象 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	    <property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 配置事务管理器类 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	   <property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!--  配置事务增强 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
	   <tx:attributes>
	       <tx:method name="*" propagation="REQUIRED"/>
	   </tx:attributes>
	</tx:advice>
	
	<!-- Aop配置： 拦截哪些方法(切入点表表达式) + 应用上面的事务增强配置 -->
	<!-- 拦截web工程service下所有方法 -->
	<aop:config>
	   <aop:pointcut expression="execution(* com.wj.farm.web.service.*.*(..))" id="pt"/>
	   <aop:advisor advice-ref="txAdvice" pointcut-ref="pt"/>
	</aop:config>
</beans>